body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.main-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.logo-container {
    position: relative;
    width: 50%;
    height: 100%;
}

.logo-container h1 {
    position: absolute;
    color: #fff;
    font-size: 36px;
    text-shadow: 1px 1px #000;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    top: 20%;
    text-align: center;
}

.logo-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.left-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.description-container {

    background-color: #F5F5F5;
    color: #333;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 40px;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;;  
    height: 100%;
    width: 100%;
    background-color: #fff;
    box-shadow: 2px 2px 5px #000;
}

.form-container h2 {
    margin-top: 0;
    margin-left: 30px;
}

ul {
    padding: 10px;
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
}

li {

    list-style: none;
    position: relative;
    width: 46%;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="number"],
.form-container input[type="password"] {
    width: 100%;
    background: transparent;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
}


.btn-container {
    position: relative;
    background-color: #f5f5f5;
    width: 100%;
    height: 100%;
}
button{
    position: absolute;
    top: 30px;
    left: 40px;
    width: 20%;
    height: 15%;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #596D48;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}


